.my-btn {
    border: 2px solid #be9359;
    padding: 10px;
    color: #be9359;
    width: 200px;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
}

h1{
    font-family:  abril-fatface;
    font-size: 6rem;
    font-weight: bold;
}